<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <a tabindex="23"
    href="https://api.whatsapp.com/send?phone=573175623788&text=¡Hola! Quisiera mas información sobre el Micrositio Web del proyecto de Fortalecimiento de las Capacidades Institucionales."
    class="titi" target="_blank">
    <i class="fab fa-whatsapp my-float"></i>
  </a>
  <i tabindex="24" (keydown.enter)="mostrarMenu()" class="_access-icon prop-icon" title="Opciones de accesibilidad"></i>
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Síguenos en nuestras redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/GobValle/" target="_blank" class="me-4 text-reset" title="Facebook"
        tabindex="70">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/GobValle" target="_blank" class="me-4 text-reset" title="Twitter" tabindex="71">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/user/VideosGobValle" target="_blank" class="me-4 text-reset" title="Youtube"
        tabindex="72">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
          <br>
          <!-- Content -->
          <a href="#" tabindex="73">
            <img src=" ../../../../assets/images/home/fcivalle.png"
              title="Logo de Valle inteligente y escudo de la Gobernación del Valle del Cauca"
              alt="Logo de Valle inteligente y escudo de la Gobernación del Valle del Cauca"
              class="w-100 img-responsive">
          </a>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4 mt-2 title">
            Información
          </h6>
          <p>
            <a tabindex="74" href=" ../../../../assets/docs/PO-M11-P1-01.pdf" (keydown.enter)="rutainicio()"
              class="text-reset" target="_blank"
              title="Políticas de seguridad de la información y protección de datos personales">Políticas de seguridad
              de la información y protección de datos personales</a>
          </p>
          <p>
            <u tabindex="75" routerLink="/public/mapa" class="text-reset cursor-type" (keydown.enter)="rutainicio()"
              target="_blank" title="Mapa del sitio">Mapa del sitio</u>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 mt-2 title">
            Contáctenos
          </h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            soporte@fcivalledelcauca.com.co
          </p>
          <p><i class="fas fa-phone me-3"></i> + 57 317 562 37 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    Todos los derechos reservados © 2021
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->