
<div class="fondo-modal-imagen animated fadeIn fast" [class.ocultar]="modalService.ocultarModal">
    <!-- sample modal content -->
    <div id="responsive-modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-capitalize"><span class="h3">{{evento.titulo}}</span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" tabindex="12" aria-hidden="true" (click)="cerrarModal()"></button>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center ">Contenido del Evento</h4>
                        <h6 class="card-subtitle text-center">Visualicé los objetivos,documentación y realice el test de conocimiento.</h6>
                        <!-- Nav tabs -->
                        <div class="vtabs">
                            <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" tabindex="13" data-bs-toggle="tab" href="#descripcion" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Objetivos</span> </a> </li>
                                <li class="nav-item"> <a class="nav-link" tabindex="14" data-bs-toggle="tab" href="#material" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Material</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" tabindex="15" data-bs-toggle="tab" href="#prueba" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Prueba</span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content col-md-12 p-1">
                                <div class="tab-pane active" id="descripcion" role="tabpanel" tabindex="13">
                                    <p class="h4 text-capitalize">{{descripcion}}</p>
                                    <p class="h6" *ngIf="evento.link">Link del Evento: <a [href]="evento.link" target="_blank" >{{evento.link}}</a></p>
                                    <p class="h6 text-info" *ngIf="evento.direccion">Dirección del Evento: {{ evento.direccion }} </p>
                                    <div class="p-2 ">
                                        <img [src]="evento.imagen" class="img-responsive" alt="Imagen Objetivos">
                                    </div>
                                </div>
                                <div class="tab-pane" id="material" role="tabpanel" >
                                    <div class="accordion accordion-flush border-1 rounded" id="accordionFlushExample">
                                        <div *ngFor="let te of evento.temas; let i = index ;" class="accordion mt-2" tabindex="14" (keyup.enter)="openaccordion($event,i + 1,te.idTema )" id="{{i + 1 }}" >
                                            <h2 class="accordion-header" id="flush-headingOne">
                                                <button id="btn{{i + 1 }}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    [attr.data-bs-target]="'#' + 'colappse' + te.idTema " aria-expanded="false"
                                                    aria-controls="flush-collapseOne">
                                                    {{te.nombreTema}}
                                                </button>
                                            </h2>
                                            <div [id]="'colappse' + te.idTema" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <div *ngFor="let tm of te.temarios" class="accordion-body border border-1">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <b> {{tm.nombreTemario}} </b>
                                                        </div>
                                                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                                            <div class="table-responsive" *ngFor="let arc of tm.archivos">
                                                                <table class="table table-bordered">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="text-center">
                                                                                    <img *ngIf="arc.archivo" src="../../../assets/images/pdf-icon.png" class="w"
                                                                                        alt="archivo-pdf">
                                                                                </div>
                                                                            </td>
                                                                            <td>{{arc.nombreArchivo}}</td>
                                                                            <td> <a (click)="descargarArchivo(arc)" data-toggle="tooltip" data-original-title="Descargar"
                                                                                    title="Descarga" class="text-muted cursor d-block">
                                                                                    <i class="fas fa-file-download" text-info m-r-10 style="font-size:25px;"></i>
                                                                                </a></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="prueba" role="tabpanel">
                                    <div class="form-row table-responsive">
                                        <table class="table table-hover">
                                             <tbody>
                                                 <tr *ngFor="let te of evento.temas" tabindex="15">
                                                     <td class="fs-4"> <b>{{te.nombreTema}} </b> </td>
                                                     <td ><a (click)="abrirModalExamen(te)" class="cursor text-success fs-4 "  >  <b>Abrir Test </b> <span class="fas fa-hand-point-left" (keyup.enter)="abrirModalExamen(te)"></span>  </a></td>
                                                 </tr>
                                             </tbody>   
                                        </table>
                                    </div>
                                    <div class="form-row table-responsive mt-4" *ngIf="examenesPresentados.length>0">
                                        <h5 class="text-center">Examenes Presentados</h5>
                                        <!-- Tabla donde se presenta los examenes presentados -->
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Tema</th>
                                                    <th>Examen</th>
                                                    <th class="text-center">P. mínima</th>
                                                    <th class="text-center">P. Alcanzada</th>
                                                    <th class="text-center">Correctas</th>
                                                    <th class="text-center">Incorrectas</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of examenesPresentados">
                                                    <td>{{row.tema}}</td>
                                                    <td>{{row.examen}}</td>
                                                    <td class="text-center">{{row.puntuacionminima}}</td>
                                                    <td class="text-center">{{row.puntuacion}}</td>
                                                    <td class="text-center">{{row.respuestasCorrectas}}</td>
                                                    <td class="text-center">{{row.respuestasIncorrectas}}</td>
                                                    <td class="text-center">
                                                        <i class="fas fa-smile text-success" *ngIf="row.aprobo"></i>
                                                        <i class="fas fa-frown text-danger" *ngIf="!row.aprobo"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>

<app-modalexamenpresentado [idTemaExamen]="idTemaExamen"></app-modalexamenpresentado>

