
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mapa del sitio</li>
    </ol>
</nav>
<app-modalcookie></app-modalcookie>
<div class="card">
    <div class="card-body">
        <div class="accordion accordion-flush border " id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed display-acc" routerLink="../home" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <u routerLink="../home">Inicio</u>
                </button>
              </h2>           
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed display-acc" type="button" routerLink="../deploy" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <u routerLink="../deploy">Difusión</u>
                </button>
              </h2>              
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed display-acc" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <a href="https://www.fcivalledelcauca.com.co/login" class="color-link"><u>Capacitación</u></a>
                </button>
              </h2>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed display-acc" type="button"  data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                      <u  routerLink="/register">Formulario de registro</u>
                  </button>
                </h2>
              </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed display-acc" type="button" href=" ../../../../assets/docs/PO-M11-P1-01.pdf" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                      <u> <a href=" ../../../../assets/docs/PO-M11-P1-01.pdf" class="color-link" >Política de datos</a> </u>
                  </button>
                </h2>
              </div> 
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed display-acc" type="button" routerLink="../estadisticas" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                      <u routerLink="../estadisticas">Estadisticas</u>
                  </button>
                </h2>              
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed display-acc" type="button" routerLink="../deploy" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                      <u routerLink="../contact">Contáctenos</u>
                  </button>
                </h2>              
              </div>
           
          </div>
    </div>
</div>